{{!-- shows ONE post, as well as associated comments AND their associated users (loop) --}}
  {{!-- no options to alter/delete/create POSTS, BUT options (if logged in) to create/edit/delete comments (but U and D only allowed on comments create dby that user --}}
<section id="blog-entry">
<div class="row my-3">
  <h2>{{title}}</h2>
  <div>
    <p>{{content}}</p>
    <p>By {{user.name}} on {{format_date date_created}}</p>
  </div>
</div>
</section>
<section class="entry-comments">
  <h3>Comments:</h3>
  {{#each comments as |comment|}}
  <div class="row border-bottom border-dark mb-2">
    <p>{{comment.content}}</p>
    <p>By {{comment.user.name}} on {{format_date comment.date_created}}</p> {{!-- still need to properly grab the user of the comment, and pass it in --}}
  </div>
  {{/each}}
</section>
{{!-- still needs CUD options --}}