{{!-- shows all blogposts from the one user who is logged in --}}
<section class="blog-entries">
  <h2 class="mb-2">Your Entries:</h2>
  {{#each entries as |entry|}}
  <div class="row mb-3 border-bottom border-dark">
    <h3>
      <a href="/entry/{{../username}}/{{entry.id}}">{{entry.title}}</a>
    </h3>
    <div>
      <p>{{entry.content}}</p>
      <p>Created on {{entry.date_created}}</p>
    </div>
  </div>
  {{/each}}
  {{!-- needs C, U and D options --}}
</section>