{{!-- shows all blog posts in the DB (not their comments) --}}
<section class="blog-entries">
  <h2 class="mb-2">Blog Entries:</h2>
  {{#each entries as |entry|}}
  <div class="row border-bottom border-dark mb-2">
    <h3>
      <a href="entry/{{entry.user.name}}/{{entry.id}}">{{entry.title}}</a>
    </h3>
    <div>
      <p>{{entry.content}}</p>
      <p>By {{entry.user.name}} on {{entry.date_created}}</p>
    </div>
  </div>
  {{/each}}
</section>